@model DateTime?

@{
    Layout = "_Layout";
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row mt-5">   
                <div class="col-12">
                    <strong class="font-weight-bold text-reset">
                        Welcome in library app
                     </strong>
                    <strong class="font-weight-bold text-success">
                       - Dawid Czuba lab2
                    </strong>
                </div>
        </div>
    </div>
