@model IEnumerable<LibApp.Domain.Entities.Book>

@{
    ViewBag.Title = "Books";
    var accessType = User.IsInRole(RoleEnum.Owner.ToString()) 
    ||  User.IsInRole(RoleEnum.StoreManager.ToString())
        ? "Edit" : "View";
}

<h2>Books</h2>

@if (accessType == "Edit")
{
    <div class="row mb-5">
        <div class="col-12">
            <a asp-action="New" class="btn btn-danger btn-sm">
                <i class="fa fa-plus"></i> Create new book
            </a>
        </div>
    </div>
}

<div class="row">
    <div class="col-12 position-relative">
        <table id="books" class="table table-sm">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Author</th>
                    <th style="width: 15%">Genre</th>
                    <th style="width: 20%">Actions</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

@section scripts {
<script src="~/js/site.js" asp-append-version="true"></script>
<script>
    $(document).ready(function(){
        booksView.initialize("@accessType");
        booksView.attachEvents();
    })
</script>
    
  @if(TempData["Message"] != null) {
        <script>
            bootstrapAlert("Success", "@TempData["Message"]", "success")
        </script>    
    }
  
}